.list {
  display: flex;
}

.list :first-child {
  margin-right: 32px;
}

.item {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.item:hover {
  color: black;
  transition: 0.3s;
}

@media (max-width: 685px) {
  .list :first-child {
    margin-right: 0;
  }

  .list > a :first-child {
    margin-right: 15px;
  }

  .list {
    margin-bottom: 5px;
  }
}
